<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>
      This is the page for contacting US!!!
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
